@model UsuarioModel

<header class="bar">
    <!--usar bar pro login-->
    <nav class="navbar navbar-dark" id="Top">
        <div class="container">
            <button class="navbar-toggler" onclick="openMenu()" id="btnMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="invisible">//</a><a id="tittleMenu" class="navbar-brand mr-auto">@ViewData["Title"]</a>
            <a class="navbar-brand" style="color:white;">Olá, @Model.Login </a>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <img src="~/lib/users/user1.png" width="50" height="50" class="user" />
                </button>
                <div class="dropdown-menu btn-primary">
                    <a role="button" class="dropdown-item btn-primary" asp-controller="ResetPasswdUser" asp-action="Index">Alterar Senha</a>
                    <a role="button" class="dropdown-item btn-primary">Ajuda</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--id determina o objeto-->
<nav class="nav-menu" id="Menu">
    <div style="margin-left:16.5%" onclick="closeMenu()">
        <img src="~/lib/img/icon.png" width="150" height="150">
        <a class="nav-link" style="font-family: 'Agency FB'; color: white; background-color: transparent !important; font-size: 30px; ">Violet_Games</a>
    </div>
    <ul class="nav flex-column">
        <li><a role="button" class="nav-link" asp-controller="Dashboard" asp-action="Index"><img src="~/lib/bottons/monitor.png" width="40" height="40"> Dashboard</a></li>
        <li><a role="button" class="nav-link" asp-controller="Caixa" asp-action="Index"><img src="~/lib/bottons/car.png" width="40" height="40"> Caixa</a></li>
        <li><a role="button" class="nav-link" asp-controller="Produto" asp-action="Index"><img src="~/lib/bottons/stockg.png" width="40" height="40"> Produtos</a></li>
        <li><a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-family: Consolas; color: white;">
            <img src="~/lib/bottons/location.png" width="40" height="40"> Locação</a>
            <ul class="dropdown-menu">
                <li><a role="button" class="nav-link" asp-controller="Agendamento" asp-action="Index"><img src="~/lib/bottons/SchedulerWhite.png" width="40" height="40"> Agendamentos</a></li>
                <li><a role="button" class="nav-link" asp-controller="Console" asp-action="Index"><img src="~/lib/bottons/console.png" width="40" height="40"> Consoles</a></li>
                <li><a role="button" class="nav-link" asp-controller="Jogo" asp-action="Index"><img src="~/lib/bottons/joystick.png" width="40" height="40"> Jogos</a></li>
            </ul></li>
        <li><a role="button" class="nav-link" asp-controller="Cliente" asp-action="Index"><img src="~/lib/bottons/vip.png" width="40" height="40"> Clientes</a></li>

        @if (Model.Perfil == VioletGames.Data.Enums.PerfilEnum.Admin)
        {
            <li><a role="button" class="nav-link" asp-controller="Funcionario" asp-action="Index"><img src="~/lib/bottons/user.png" width="40" height="40"> Funcionários</a></li>
            <li><a role="button" class="nav-link" asp-controller="Usuario" asp-action="Index"><img src="~/lib/bottons/userMenu.png" width="40" height="40"> Usuários</a></li>
        }

        <li><a role="button" class="nav-link" asp-controller="Login" asp-action="Exit"><img src="~/lib/bottons/exit.png" width="35" height="35"> Sair</a></li>
    </ul>
    <div class="container footer" style="font-size: 16px; color: white; background-color: transparent !important; text-transform: none;">
        <span>&copy; Develop by </span><a href="https://github.com/melissa-mfs" style="font-size: 16px; color: white; background-color: transparent !important;">Melissa-MFS</a>
    </div>
</nav>