/*Conteudo*/
.content {
    background-color: #2e193b;
    opacity: 90%;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Consolas';
}

.content-fixed {
    background-color: #2e193b;
    opacity: 90%;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Consolas';
    position: fixed;
    z-index: -1;
}

.btn{
    padding: 0.15rem 0.5rem;
}

.singin{
    padding-left:25%;
}

/*Layout caixa*/
.div-table {
    width: 47%;
    height: 680px;
    display: inline-flex;
}
.div-cod {
    width: 27%;
    height: 680px;
    display: inline-flex;
}

.div-cod-itens {
    width: 40%;
    height: 300px;
    display: inline-block;
}

.div-box{
    width: 23%;
    height: 680px;
    display: inline-flex;
}

.div-itens {
    display: initial;
    width: 100%;
}

.div-itens h1, h2{
    text-align: center;
    width: 100%;
    background-color: #e0c0fa;
    color: black;
}

.div-itens input{
    width: 100%;
    height: 35px;
    border-radius: .25rem;
}

.div-cod-itens img{
    height: 65%;
    margin-left: 10%;
    margin-top: -110%;
}

/*Tabela*/
.table-content {
    color: white;
}

.dataTables_wrapper { 
    margin-left: 2%;
    margin-right: 1%;
}
div.dataTables_wrapper div.dataTables_filter{
    margin-right: 2%;
}

.dataTables_wrapper .dataTables_length select {
    background: #fff;
    opacity: 75%;
}

.dataTables_wrapper div.dataTables_filter input {
    background: #fff;
    opacity: 75%;
    margin-right: 2%;
}


table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center;
    background-color: #e0c0fa;
    opacity: 80%;
    color: black;
    font-size: 18px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #e0c0fa;
    color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover a{
    background-color: #e0c0fa;
    color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: white !important;
}

/*Alerta*/
.alert {
    /*position: absolute;*/
    width: 90%;
    height: 50px;
    border-radius: 15px;
}

.btn-close {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.field-validation-error {
    color: #b94a48;

    background-image: url(../lib/bottons/error.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size: contain;
}

/*Cards*/
.card {
    margin: 0 -15px;
    justify-content:space-between;
    margin: 0 0 1rem;
    color:black;
}

.status-ativo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: green;
    color: green !important;
}
.status-pendente {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: orange;
    color: orange !important;
}
.status-desativo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
    color: red !important;
}

@media (min-width: 576px) and (max-width:767.98px) {
    .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 768px) and (max-width:991.98px) {
     .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
    }
}
@media (min-width: 992px) {
    .card {
        -ms-flex: 0 0 24%%;
        flex: 0 0 24%;
    }
}