body {
    background-image: url('/lib/img/back.jpg');
    background-size: 100%;
    position: center;
    background-size: cover;
}


form {
    margin-left: 15px;
}

.btn-primary {
    color: white;
    background-color: #C17EF5;
    border-color: #A4A4A4;
    font-size: 18px;
    width: 130px;
    margin-left: 30%;
    border-radius: 30px;
}

.btn-primary:hover{
    color: white;
    background-color: #9a64c4;
    border-color: #A4A4A4;
}

/*Login*/
.nav-login {
    position: absolute;
    top: 20%;
    width: 50%;
    height: 60%;
    left: 25%;
    right: 25%;
    background-color: rgba(47, 47, 47, 0.81);
    box-shadow: 5px 4px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.logo {
    width: 40%;
    height: 100%;
    background-color: #C17EF5;
    border-radius: 25px 0px 0px 25px;
}

.logo img {
    width: 250px;
}

.logo a {
    font-family: 'Agency FB';
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-size: 40px;
}

.login {
    position: absolute;
    margin-left: 45%;
    top: 15%;
    width: 50%;
    height: 70%;
    color: white;
    font-family: 'Consolas';
    /*background-color: crimson;*/
}

.login p {
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
    text-transform: uppercase;
}

.login a {
    font-size: 18px;
    line-height: 0.5px;
    color: white;
}

.login img{
    width: 40px;
    height: 40px;
}

.login input{
    width: 250px; 
    display: inline;
    font-size: 18px;
}

/*Alerta*/
.alert {
    /*position: absolute;*/
    width: 600px;
    height: 50px;
    border-radius: 15px;
}

.btn-close {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.field-validation-error {
    color: #b94a48;
    background-image: url(../lib/bottons/error.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size: contain;
    margin-left: 15%;
}