@model List<ConsoleModel>

<div class="container-fluid " onload="openMenu()">
    <div class="row justify-content-center" >
        @if (Model != null && Model.Any())
        {
            foreach (ConsoleModel Console in Model)
            {
                <div class="card m-2" style="width: 10%">
                    <img class="card-img-top img-fluid" src="./lib/img/back.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">@Console.Name</h4>
                        <p class="card-text">
                            @if (Console.StatusConsole == VioletGames.Data.Enums.StatusLocation.Ativo)
                            {
                                <a class="status-ativo">o </a>
                            }
                            @if (Console.StatusConsole == VioletGames.Data.Enums.StatusLocation.Pedente)
                            {
                                <a class="status-pendente">o </a>
                            }
                            @if (Console.StatusConsole == VioletGames.Data.Enums.StatusLocation.Desativado)
                            {
                                <a class="status-desativo">o </a>
                            }
                            <small class="text-muted">@Console.StatusConsole</small>
                        </p>
                    </div>
                </div>
            }
        }
    </div>
</div>

