@model List<ConsoleModel>

<div class="container-fluid">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (ConsoleModel Console in Model)
            {
                <div class="card m-3" style="width: 15%">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">@Console.Name</h4>
                        <p class="card-text"><small class="text-muted">@Console.StatusConsole</small></p>
                    </div>
                </div>
            }
        }
    </div>
</div>

