@model LoginModel
@{
    Layout = "_LoginLayout";
}

<nav class="nav-login">
    <div class="logo text-center">
        <br><br>
        <img src="/lib/img/icon.png"><br>
        <a>Violet_Games</a>
    </div>
    <div class="login">
        <p>Seja bem-vindo!</p>
        <a>ACESSE AGORA</a><br /><br />
        <form asp-controller="Login" asp-action="Enter" method="post">
            <div class="mb-3">
                <img src="./lib/bottons/user.png">
                <input type="text" asp-for="Login" class="form-control" id="Login-Usr" placeholder="Login"><br />
                @Html.ValidationMessageFor(x => x.Login)
            </div>
            <div class="mb-3">
                <img src="./lib/bottons/passwd.png">
                <input type="password" asp-for="Passwd" class="form-control" id="Login-passwd" placeholder="Senha"><br />
                @Html.ValidationMessageFor(x => x.Passwd)
            </div>
            <p class="mb-4" style="font-size: 14px; color: white; text-transform: none; margin-left: 50px;">
                Esqueceu sua senha?
                <a asp-action="ResetPasswd" asp-controller="Login" style="font-size: 16px; text-transform: none; color: #C17EF5;">Redefinir.</a><br />
            </p>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
</nav>
