@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}

<nav>
    @await Component.InvokeAsync("ListaItens")
    @await Component.InvokeAsync("ProdutoDescricao")
    @await Component.InvokeAsync("ValoresCompra")
</nav>

