@{
    Layout = "_Layout";
    ViewData["Title"] = "Caixa";
}

<nav class="content-fixed">
    @await Component.InvokeAsync("ListaItens")
    @await Component.InvokeAsync("ProdutoDescricao")
    @await Component.InvokeAsync("ValoresCompra")
</nav>

