@model List<ItemPedidoModel>

<div class="div-table">
    <div class="div-itens">
        <h1>ITENS ADICIONADOS</h1>
        <table class="table table-content" id="table-caixa">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var pedido in Model)
                    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => pedido.NameProduct)</td>
                    <td>@Html.DisplayFor(modelItem => pedido.QtdOrder)</td>
                    <td>@Html.DisplayFor(modelItem => pedido.PriceTotal)</td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
