<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Violet Games</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="~/lib/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/content.css" />
</head>
<body>
    @await Component.InvokeAsync("Menu")

    <!--https://www.youtube.com/watch?v=w56Qsjz37ZE&t=45s-->
        <nav class="content justify-content-center" id="Content">
            <nav style="margin-left: 30%">
                @if (TempData["MessagemSucess"] != null)
                {
                    <div class="alert alert-success text-center justify-content-center" role="alert">
                        @TempData["MessagemSucess"]
                        <button type="button" class="btn-close alert-success" data-bs-dismiss="alert" aria-label="Close">X</button>
                    </div>
                }

                @if (TempData["MessagemError"] != null)
                {
                    <div class="text-center alert alert-danger justify-content-center" role="alert">
                        @TempData["MessagemError"]
                        <button type="button" class="btn-close alert-danger" data-bs-dismiss="alert" aria-label="Close">X</button>
                    </div>
                }
            </nav>
            <!--Corpo/View-->
            @RenderBody()
        </nav>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
