@model UsuarioModel
@{
    Layout = "_Layout";
}

<nav>
    @if (Model.Perfil == VioletGames.Data.Enums.PerfilEnum.Admin)
        {
            @await Component.InvokeAsync("DashboardAdmin")
        }
    @if (Model.Perfil == VioletGames.Data.Enums.PerfilEnum.Stand)
        {
            @await Component.InvokeAsync("DashboardStand")
        }
</nav>


