@model ClienteModel
@{
    Layout = "_Layout";
}
<nav class="content-fixed">
    <div class="text-center">
        <h3>Realmente deseja apagar o Cliente (@Model.Name)?</h3>
        <a role="button" class="btn btn-success" asp-controller="Cliente" asp-route-id="@Model.Id" asp-action="Delete">Deletar</a>
        <a role="button" class="btn btn-danger" asp-controller="Cliente" asp-action="Index">Cancelar</a>
    </div>
</nav>


