@model ClienteModel
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (@Model.Name)?</h3>
    <a role="button" class="btn btn-success" asp-controller="Cliente" asp-route-id="@Model.Id" asp-action="Delete">Deletar</a>
    <a role="button" class="btn btn-danger" asp-controller="Cliente" asp-action="Index">Cancelar</a>
</div>

